#header {
  font-family: "Libre Caslon", serif;
  font-size: 5em;
  font-weight: bold;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 4%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0%;
  padding: 0%;
}

#body {
  display: flex;
}

#line {
  display: flex;
  width: 30%;
  height: 100%;
  position: absolute;
}

#main {
  margin-left: 22%;
}

#suchleiste {
  display: flex;
  justify-content: space-between;
}

textarea {
  resize: none;
  width: 20%;
  height: 1.2em;
}

#suche {
  border: none;
  background-color: rgb(0, 177, 172, 0.2);
  font-family: "Libre Caslon", serif;
  font-size: 1.1em;
  color: rgb(161, 161, 161);
}

#modulliste > li > a {
  font-family: "Libre Caslon", serif;
  font-size: 1.3em;
  color: black;
}
